*{
padding: 0;
margin: 0;
font-family: "ubuntu", sans-serif;
}

.img1{
width: 1000dp;
height: 200dp;
max-width: 100%;
background-image: url('imagens/print.jpg');
margin: 0 auto; /* Centralizar horizontalmente */
display: flex; /* Centralizar verticalmente */
align-items: center; /* Centralizar verticalmente */
}

