<!DOCTYPE html>
<html lang="pt-br">
<head>
         <meta charset="UTF-8">
    <title>Clima em tempo real</title>


    <meta http-equiv="x-ua-compatible" content="IE-edige">
    <meta name="viewport" content="width=device-width, initial-scale">
    <link rel="stylesheet" type="text/css" href="style.css">
    <!--link da segunda opção do css-->
    <link rel="stylesheet" href="staticfiles/climate1/css/climate.css">
    <link rel="stylesheet" href="staticfiles/climate1/css/navbar.css">
    <link rel="stylesheet" href="staticfiles/climate1/css/cores.css">
    <link rel="stylesheet" href="staticfiles/climate1/css/container.css">

    <!--link do bootstrapcdn-->
     <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!--Link de designer de interface de usuario do bootstrap-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet"/>

     <!--link do google fonts link opicional -->

     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
     <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&amp;display=swap" rel="stylesheet">


    <!--do video do app ou Fonts awesome no site cdnjs.com -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="climate1/scripts/script.py" defer=""></script>
    <script src="tips1/css/dicas.css"></script>


</head>
<body>
<div
   class = "img1" > </class>
</div>


 <!--Barra de navegacao-->
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
<li class="nav-item">
<a class="nav-link text-white" href="clima.html">Clima</a>
</li>

<li class="nav-item">
<a class="nav-link text-white" href="dicas.html">Astronomia</a>
</li>


<li class="nav-item">
<a class="nav-link text-white" href="registrar.html">Registrar-se</a>

    <li class="nav-item">
<a class="nav-link text-white" href="login.html">Login</a>
</li>
</li>
</ul>
</div>
</nav>


<!-- App clima-->

<div class="container ">

    <div class="form" >

       <h3>Confira o clima de uma cidade:</h3>
        <div class="form-input-container  ">
         <input type="text" placeholder="Digite o nome da cidade" id="city-input">
          <button id="search">
          <i class="fa-solid fa-magnifying-glass"></i>

          </button>

        </div>

  </div>

<div id="weather-date">



     <!-- nome da cidade-->

    <h2>

        <i class="fa-solid fa-location-dot"></i>
        <span id="city">São Paulo</span>
        <img src="" alt="Bandeira do país" id=country"/>
        </h2>

    <!-- temperatura-->
    <p id="temperature"><span>32</span>&deg;C</p>
    <div id="description-container">
        <p id="description">Nublado</p>

        <!--imagem de localizacao colorida do google-maps.png  temporaria no momento-->
        <img src="climate1/image/goole-maps.png" alt="Condições do tempo" id="weather-icon"/>

    <div id="details-container">

        <p id="unidity">
            <!--icon de gota-->
            <i class="fa-solid fa-droplet"></i>
            <span>43%</span>
        </p>

         <p id="wind">
            <!--icon de gota-->
            <i class="fa-solid fa-wind"></i>
            <span>3km/h</span>
        </p>



    </div>

    </div>


</body>
</html>