
<!DOCTYPE html>
<html lang="pt-pr">
<head>


    <meta charset="UTF-8">
    <title>Clima Tempo</title>





    <!--links opcional-->


    <link rel="stylesheet" href="container.css">

    <!--<link rel="stylesheet" href="static/image/im-clima1.png">-->

     <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/container.css">
    <link rel="stylesheet" href="static/css/layout.css">
    <link rel="stylesheet" href="static/css/navbar.css">
    <link rel="stylesheet" href="static/css/cores.css">


    <script src="static/scripts/python.py" defer=""></script>
    <script src="static/scripts/analisetest.py" defer=""></script>




     <!--link principal cor de texto e style do bootstrapcdn-->
     <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

         <!--Link de designer de interface de usuario do bootstrap-->
     <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>-->
   <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet"/>-->





    <!--Para o ícone lupa do app ou Fonts awesome no site cdnjs.com -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="climate1/scripts/python.py" defer=""></script>
    <script src="tips1/css/dicas.css"></script>








</head>
<body>





 <!--Barra de navegacao-->
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
<li class="nav-item">
<a class="nav-link text-white" href="clima.html">Clima</a>
</li>

<li class="nav-item">
<a class="nav-link text-white" href="dicas.html">Astronomia</a>
</li>


<li class="nav-item">
<a class="nav-link text-white" href="registrar.html">Registrar-se</a>

    <li class="nav-item">
<a class="nav-link text-white" href="login.html">Login</a>
</li>
</li>
</ul>
</div>
</nav>


<!-- App clima-->


<img src="" alt="">


<!--MY-->

<div class="container  mt-4  " style= "background-color:#4682b4; padding: 20px">
    <div class=" row align-items-center light-prime">
        <div class="col-md-10 mx-auto col-lg-5">
            <form class="p-4 p-md-5 border rounded-3 bg-15light">
               <div class="form-floating mb-3">
<!--MY-->


<div class="container ">

    <div class="form" >

       <h3>Confira o clima de uma cidade:</h3>
        <div class="form-input-container  ">
         <input type="text" placeholder="Digite o nome da cidade" id="city-input">
          <button id="search">
          <i class="fa-solid fa-magnifying-glass"></i>

          </button>

        </div>

  </div>

<div id="weather-date">



     <!-- nome da cidade-->

    <h2>

        <i class="fa-solid fa-location-dot"></i>
        <span id="city">São Paulo</span>
        <img src="https://flagsapi.com/BE/flat/64.png"
             alt="Bandeira do país"
             id=country"/>

        </h2>

    <!-- temperatura-->
    <p id="temperature"><span>32</span>&deg;C</p>
    <div id="description-container">
        <p id="description">Nublado</p>

        <!--imagem de localizacao colorida do google-maps.png  temporaria no momento-->
        <img src="http://openweathermap.org/img/wn/01d@2x.png" alt="Condições do tempo" id="weather-icon"/>

    <div id="details-container">

        <p id="humidity">
            <!--icon de gota-->
            <i class="fa-solid fa-droplet"></i>
            <span>43%</span>
        </p>

         <p id="wind">
            <!--icon de gota-->
            <i class="fa-solid fa-wind"></i>
            <span>3km/h</span>
        </p>



    </div>

    </div>



<!--my-->



            </form>





        </div>

        </div>




    </div>


</div>











</body>
</html>