<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clima em tempo real</title>

    <link rel="import" href="/ueretiaweb/inicio2.html?_ijt=83esoh8d3ov54dl9uttjrklgrc&_ij_reload=RELOAD_ON_SAVE">


     <!--link da segunda opcao de css do app clima.css-->
    <link rel="stylesheet" href="staticfiles/climate1/css/climate.css">
    <link rel="stylesheet" href="staticfiles/climate1/css/navbar.css">
    <link rel="stylesheet" href="staticfiles/climate1/css/cores.css">


     <!--link raiz normal do css-->
    <link rel="stylesheet" href="tips1/css/dicas.css">
    <script> src = "tips1/scripts/script.py"  defer </script>


<meta http-equiv="x-ua-compatible" content="IE-edige">
    <meta name="viewport" content="width=device-width, initial-scale">
    <link rel="stylesheet" type="text/css" href="style.css">










    <!--link do bootstrapcdn-->
     <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!--Link de designer de interface de usuario do bootstrap-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet"/>

     <!--link do google fonts link opicional -->

     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
     <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&amp;display=swap" rel="stylesheet">


    <!--do video do app ou Fonts awesome no site cdnjs.com -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="climate1/scripts/script.py" defer=""></script>
    <script src="static/staticfiles/climate/css/"></script>
    <script src="tips1/css/dicas.css"></script>
        <script src="tips1/scripts/script.py" defer=""></script>



    
</head>
<body>


 <!--Barra de navegacao-->
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
<li class="nav-item">
<a class="nav-link text-white" href="clima.html">Clima</a>
</li>

<li class="nav-item">
<a class="nav-link text-white" href="dicas.html">Astronomia</a>
</li>


<li class="nav-item">
<a class="nav-link text-white" href="registrar.html">Registrar-se</a>

    <li class="nav-item">
<a class="nav-link text-white" href="login.html">Login</a>
</li>
</li>
</ul>
</div>
</nav>



    <!--</a><a href="clima.html">clima</a>-->

    <img src="tips1/image/buracominhoca.jpg" class="img1" alt="Descrição da imagem">
```

<!-- texto da pagina dicas-->
<div id="texto da pagina dicas ">

    <h2 align="center"> De Olho no Céu: As Maravilhas do Astronomia Reveladas" </h2>


<p>
        A astronomia é a ciência que estuda os corpos celestes, como estrelas, planetas, cometas, galáxia, entre outros, e os fenômenos que ocorrem no universo.Ela desempenha um papel importante em nossa compreensão do cosmo e oferece um série de benefícios e impactos singnificativo na sociedade.

  </p>

    <p>
     A astronomia permite que os cientistas estudem a origem, evolução
        e composição do universo.Através da observação a análise de objetos celestes, como estrelas distentes e galáxias, podemos compreender melhor a formação do espaço-tempo e como nosso universo se desenvolveu ao longo  do tempo.Essas
        informações são cruciais para nossa abordagem de exploração espacial, colonização de outros planetas e busca por vida extraterrestre.


    </p>

    <h3 align="center"> Desenvolvimento de tecnologias </h3>

    <p>

        A pesquisa em astronomia tem sido fundamental para o desenvolvimanto de tecnologias avançadas. Por exemplo, tecnologias de detecção e análise de radiação eletromagnética, usadas em teléscopio, levaram ao desenvolvimanto de técnicas medicas de imagem, como a tomografia computadorizada e a ressônancia magnética. Além disso, os satélites de comunicação e navegação global, como o GPS, são baseados em princípios astronômicos.


    </p>



</div>




</body>
</html>